<%-include("../partials/head", {title: 'Admin'})  %>
<%-include("../partials/admin")  %>



<div class="contain-prod-create">
    <div class="cont-prod-create">
        <div class="tit-product-create">
            <h5 class="products-title">Eliminar producto: <i><%= producto.nombre %> </i></h5>
        </div>
        <!-- Editar productos -->
        <div class="products-create">
            <form action="/delete/<%= producto.productId %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                <div class="prod-create-box">
                    <div class="">
                        <label for="nombre" class="form-label">Nombre del producto</label><br>
                        <input type="text" id="nombre" name="nombre" value="<%= producto.nombre %>" class="form-input">
                    </div>
                    <div class="">
                        <label for="precio" class="form-label">Precio</label><br>
                        <input type="number" id="precio" name="precio" value="<%= producto.precio %>"
                            class="form-input">
                    </div>
                    <div class="">
                        <label for="categoriaProductoId" class="form-label">Categoría</label><br>
                        <select type="text" id="categoriaProductoId" name="categoriaProductoId" class="form-input">
                            <option value="">Selecciona una opción</option>
                            <option value="1" <% if(producto.categoria == 'jabon'){ %> selected <% } %>>jabon</option>
                            <option value="2" <% if(producto.categoria == 'shampoo'){ %> selected <% } %>>shampoo
                            </option>
                            <option value="3" <% if(producto.categoria == 'acondicionador'){ %> selected <% } %>>
                                acondicionador</option>
                            <option value="4" <% if(producto.categoria == 'perfume'){ %> selected <% } %>>perfume
                            </option>
                        </select>
                    </div>
                    <div class="">
                        <label for="descripcion" class="form-label">Descripción</label><br>
                        <textarea name="descripcion" id="descripcion" cols="200" rows="7"
                            class="form-input"><%= producto.descripcion %> </textarea>
                    </div>
                    <div class="">
                        <label for="imagen" class="form-label">Selecciona aquí la imagen del producto</label><br>
                        <input class="text-input" name="imagen" type="file">
                    </div>
                </div>

                <!-- botones -->
                <div class="prod-create-button">
                    <div class="float-right">
                        <button type="submit" class="btn-guardar">Eliminar</button>
                        <button type="reset" class="btn-cancelar">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>