<%-include("../partials/head", {title: 'Busqueda'})  %>
<%-include("../partials/header")  %>



    <div class="box2">
        <div class="products-container">
            <div class="tit-productos">
                <span>
                    <h2 class="titulo">Resultado búsqueda de: <strong><%= search %></strong></h2>
                </span>
            </div>
            <div class="prod-container-tarj">
                <ul>
                    <% for (producto of productos) {%>
                    <div class="tarjeta">
                        <a href="/products/detail/<%= producto.id %>">
                            <figure class="prod-img">
                                <img src="/img/products/<%= producto.imagen %>" alt="imagen <%= producto.nombre %>">
                            </figure>
                        </a>
                        <div class="cuerpo-tarjeta">
                            <h4 style="color: black;"><%= producto.nombre %> </h4>
                            <p style="color: black;"> $ <%= producto.precio %> </p>
                            <a href="/products/carrito"><button class="boton-carrito"><i class="fas fa-shopping-cart"></i>
                                    Agregar</button></a>
                        </div>
                    </div>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

<%-include("../partials/footer")  %>