<%-include("../partials/head", {title: 'Login'})  %>
<%-include("../partials/header")  %>

<body>

  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn" onclick="login()">LOGIN</button>
    </div>
    <div id="erroresLogin">
      <ul></ul>
    </div>
    <form id="login" class="input-group" method="POST" action="/users/login">
      <div>
        <input id="emailLogin" type="text" class="input-field" placeholder="Email" name="email">
        <% if(locals.errors && errors.email) { %>
        <p style="font-size: 12px; color: red;"><%= errors.email.msg  %> </p>
        <% } %>
      </div>
      <div>
        <input id="passLogin" type="password" class="input-field" placeholder="Contraseña" name="password">
        <% if(locals.errors && errors.password) { %>
        <p style="font-size: 12px; color: red;"><%= errors.password.msg  %> </p>
        <% } %>
      </div>
      <input type="checkbox" class="check-box" name="checkboxlogin"><span style="color: black; font-size: 15px;">Recordar contraseña</span>
      <div>
        <a href="/users/register"><span style="color:black; font-size:13px">Click aquí si no estas registrado</span></a>
      </div>
      <button type="submit" class="submit-btn">Entrar</button>
    </form>
  </div>
  <script src="/js/validatorLogin.js"></script>
</body>
<%-include("../partials/footer")  %>