<%-include("../partials/head", {title: 'Perfil'}) %>
<%-include("../partials/headerLog")  %>

<body>
<div class="perfil-usuario">
    <div class="box-perfil">
        <div class="bienvenida">
            <h1>Bienvenido <%= usuario.nombre %> </h1>
            <p>Su email es: <%= usuario.email %> </p>
            <article>
                <img src="/img/users/<%= usuario.imagen %> " alt="Foto de perfil" style="width: 50%; height: 20vh;" class="imagen"> <br>
            </article>
        </div>
    </div>
    <div class="contenido-form-perfil">
        <div>
            <form action="/users/login/<%= usuario.id %>?_method=PUT" enctype="multipart/form-data" method="POST" class="form-perfil">
                <label for="" class="form-label" style="font-size: 15px;">Completa la siguiente información para actualizar tus datos </label><br>
                <input name="nombre" id="nombre" type="text" class="input-field" value="<%= usuario.nombre %>" >
                <input name="apellido" id="apellido" type="text" class="input-field" value="<%= usuario.apellido %>" placeholder="Apellido" >
                <input name="direccion" id="direccion" type="text" class="input-field" value="<%= usuario.direccion %>" placeholder="Dirección" >
                <br><br>
                <label for="image" class="form-label" style="font-size: 15px;">Selecciona aquí tu imagen </label><br>
                <input class="text-input" name="imagen" type="file">
                <br><br>
                <button type="submit" style="width: 40%;">Actualizar</button>
            </form>
        </div>
        <br><br>
        <div class="btn-logout">
            <form action="/users/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>
</body>

<%-include("../partials/footer")  %>