<%-include("./partials/head")  %>
<%-include("./partials/header")  %>


<body>
    <div class="box2">
        <div class="products-container">
            <div class="row">
                <div class="col-12">
                    <span>
                        <h2>Productos</h2>
                    </span>
                </div>
                <% for(producto of products) {%> 
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card">
                        <a href="/products/detail/<%= producto.id %>">
                            <figure class="prod-img">
                                <img src="/img/products/<%= producto.image %>">
                            </figure>
                        </a>
                        <div class="card-body" style="color: black;">
                            <h6><%= producto.name %> </h6>
                            <br>
                            <p> <%= producto.price %> </p>
                            <br>
                            <a href="/products/carrito"><button class="btn btn-dark"><i class="fas fa-shopping-cart"></i> Agregar</button></a>
                        </div>
                    </div>
                </div>
                <% }  %>
            </div>
        </div>
    </div>
</body>



<%-include("./partials/footer")  %>