<%-include("./partials/head", {title: 'Todos los productos'})  %>
<%-include("./partials/header")  %>


    <!-- Todos los productos -->
    <div class="box2">
        <div class="products-container">
            <div class="tit-productos">
                <span>
                    <h2 class="titulo">Productos</h2>
                </span>
            </div>
            <div class="prod-container-tarj">
                <% for(producto of products) {%> 
                    <div class="tarjeta">
                        <a href="/products/detail/<%= producto.id %>">
                            <figure class="prod-img">
                                <img src="/img/products/<%= producto.image %>">
                            </figure>
                        </a>
                        <div class="cuerpo-tarjeta">
                            <h4 style="color: black;"><%= producto.name %> </h4>
                            <p style="color: black;"> $ <%= producto.price %> </p>
                            <a href="/products/carrito"><button class="boton-carrito"><i class="fas fa-shopping-cart"></i> Agregar</button></a>
                        </div>
                    </div>
                <% }  %>
            </div>
        </div>
    </div>



<%-include("./partials/footer")  %>