<%-include("./partials/head", {title: 'Detalle'}) %>
<%-include("./partials/header")  %>

<!-- Detalle Productos -->
<main class="box2">
    <div class="products-container">
        <div class="">
            <div class="">
                <h5 class="products-title"> Producto: <%= producto.nombre %> </h5>
            </div>
        </div>
        <div class="product-detail">
            <div class="pp-dd">
                <div class="prod-detail">
                    <figure class="img-prod-detail" style="display: inline-flex; justify-content: start;">
                        <img src="/img/products/<%= producto.imagen %>" alt="imagen de producto"
                            style="position: relative;">
                    </figure>
                    <article class="descript-detail">
                        <p id="desc-price-detail">
                            <br>
                            <%= producto.descripcion %>
                            <br><br>
                            $ <%= producto.precio %>
                        </p>
                        <button class="boton-carrito-detail">
                            <a href="/products/carrito"><i class="fa fa-shopping-cart"></i>Agregar al
                                carrito</button></a>
                        <div class="m-1">
                            <i class="far fa-credit-card" style="color:#3e3b3b;"></i><i class="icon"> Pagá en cuotas sin interés</i>
                            <br>
                            <i class="far fa-paper-plane" style="color:#3e3b3b;"></i><i class="icon"> Envíos a todo el país</i>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>
<%-include("./partials/footer")  %>