<%-include("./partials/head", {title: 'Admin'})  %>
<%-include("./partials/admin")  %>



<div class="contain-prod-create">
    <div class="cont-prod-create">
        <div class="tit-product-create">
            <h5 class="products-title">Editar un producto: <i><%= producto.name %> </i></h5>
        </div>
        <!-- Editar productos -->
        <div class="products-create">
            <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="prod-create-box">
                    <div class="">
                        <label for="name" class="form-label">Nombre del producto</label><br>
                        <input type="text" id="name" name="name" value="<%= producto.name %>  class="form-input">
                    </div>
                    <div class="">
                        <label for="price" class="form-label">Precio</label><br>
                        <input type="text" id="price" name="price" value="<%= producto.price %>  class="form-input">
                    </div>
                    <div class="">
                        <label for="categoria" class="form-label">Categoría</label><br>
                        <select type="text" id="categoria" name="categoria" class="form-input">
                            <option value="">Selecciona una opción</option>
                            <option value="jabon">jabon</option>
                            <option value="shampoo">shampoo</option>
                            <option value="perfume">perfume</option>
                            <option value="acondicionador">acondicionador</option>
                        </select>
                    </div>
                    <div class="">
                        <label for="description" class="form-label">Descripción</label><br>
                        <textarea name="description" id="description" cols="100" rows="7" class="form-input"><%= producto.description %> </textarea>
                    </div>
                    <div class="">
                        <label for="image" class="form-label">Selecciona aquí la imagen del producto</label><br>
                        <input class="text-input" name="image" type="file">
                    </div>
                </div>

                <!-- botones -->
                <div class="prod-create-button">
                    <div class="float-right">
                        <button type="submit" class="btn-guardar">Actualizar</button>
                        <button type="reset" class="btn-cancelar">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>