<%-include("./partials/head", {title: 'Inicio'})  %>
<%-include("./partials/header")  %>

<body>
    <div class="container">
        <h1>Bienvenido <%= `${usuario.nombre} ${usuario.apellido}` %> </h1>
        <p>Su email es: <%= usuario.email %> </p>
        <img src="../../public/img/users/<%= usuario.avatar  %> " alt="<%= `${usuario.nombre} ${usuario.apellido}` %>">
    </div>
    <div>
        <form action="../../public/img/users/" enctype="multipart/form-data" method="POST">
            <label for="image" class="form-label">Selecciona aquí tu foto </label><br>
            <input class="text-input" name="image" type="file">
        </form>
    </div>


</body>





<%-include("./partials/footer")  %>