<%-include("./partials/head", {title: 'Registro'})  %>
<%-include("./partials/header")  %>

<body>

  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn" onclick="registro()">Registro</button>
    </div>
    <div class="errores">
      <ul></ul>
    </div>
    <form id="registro" class="input-group" method="POST" action="/users/register">
      <input name="nombre" id="nombre" type="text" class="input-field" placeholder="Nombre">
      <input name="email" id="email" type="email"
        class="input-field <%= locals.errors && errors.email ? 'is-danger': '' %>"
        value="<%= locals.errors && errors.value('email') %>" placeholder="E-mail" >
      <% if(locals.errors && errors.has('email')) { %>
      <p style="font-size: 12px; color: red;"><%= errors.msg('email') %> </p>
      <% } %>
      <input name="password" id="pass" type="password"
        class="input-field <%= locals.errors && errors.password ? 'is-danger': '' %> "
        value="<%= locals.errors && errors.value('password') %>" placeholder="Contraseña" >
      <% if(locals.errors && errors.has('password')) { %>
      <p style="font-size: 12px; color: red;"><%= errors.msg('password') %> </p>
      <% } %>
      <!-- <input name="password2" id="pass2" type="password" class="input-field"
        placeholder="Vuelva a escribir la contraseña" required> -->

      <button type="submit" class="submit-btn">Registrarse</button>
    </form>
  </div>
  <script src="/js/validator.js"></script>
</body>
<%-include("./partials/footer")  %>