<%-include("./partials/head", {title: 'Registro'})  %>
<%-include("./partials/header")  %>

<body>

  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn" onclick="login()">Entrar</button>
      <button type="button" class="toggle-btn" onclick="registro()">Registro</button>
    </div>
    <form id="login" class="input-group" method="POST" action="/register/login">
      <div>
        <input type="text" class="input-field" placeholder="Email" name="email" required>
        <% if(locals.errors && errors.email) { %>
        <p><%= errors.email  %> </p>
        <% } %>
      </div>
      <div>
        <input type="password" class="input-field" placeholder="Contrase単a" name="password" required>
        <% if(locals.errors && errors.password) { %>
        <p><%= errors.password  %> </p>
        <% } %>
      </div>
      <input type="checkbox" class="check-box"><span style="color: black; font-size: 15px;">Recordar contrase単a</span>
      <button type="submit" class="submit-btn">Entrar</button>
    </form>
    <form id="registro" class="input-group" method="POST" action="/register">
      <input name="nombre" id="nombre" type="text" class="input-field" placeholder="Nombre" required>
      <input name="email" id="email" type="email"
        class="input-field <%= locals.errors && errors.email ? 'is-danger': '' %> "
        value="<%= locals.errors && errors.value('email') %>" placeholder="E-mail" required>
      <% if(locals.errors && errors.has('email')) { %>
      <p><%= errors.msg('email') %> </p>
      <% } %>
      <input name="password" id="pass" type="password"
        class="input-field <%= locals.errors && errors.password ? 'is-danger': '' %> "
        value="<%= locals.errors && errors.value('password') %>" placeholder="Contrase単a" required>
      <% if(locals.errors && errors.has('password')) { %>
      <p><%= errors.msg('password') %> </p>
      <% } %>
      <input name="password2" id="pass2" type="password" class="input-field"
        placeholder="Vuelva a escribir la contrase単a" required>

      <button type="submit" class="submit-btn">Registrarse</button>
    </form>
  </div>
  <div>
    <script>
      var x = document.getElementById("login");
      var y = document.getElementById("registro");
      var z = document.getElementById("btn");
      function registro() {
        x.style.left = "-450px";
        y.style.left = "50px";
        z.style.left = "110px";
      }

      function login() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";
      }
    </script>
  </div>
  <%-include("./partials/footer")  %>